.clubs-section {
    padding:  0;
    background: var(--gradient-bg);
}

.clubs-section .section-title {
    margin-bottom: 46px;
    padding-bottom: 20px;
}

.clubs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 89px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.club-card {
    background: var(--gradient-card);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0px 4px 50px 10px rgba(66, 131, 124, 0.6);
    width: 100%;
    height: 752px;
    padding: 111px 40px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.club-card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
}

.club-card-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 55px;
    line-height: 1.2;
}
.btn {
    
    margin-bottom: 20px;

}
.club-card h3{
    font-size: 45px;
}
@media (max-width: 1600px) {
    .clubs-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 0 20px;
    }
}

@media (max-width: 1200px) {
    .clubs-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .clubs-section {
        padding: 80px 0;
    }
    .clubs-section .section-title {
        margin-bottom: 60px;
    }
    .clubs-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .club-card {
        height: auto;
        padding: 60px 30px;
        gap: 40px;
    }
    .club-card-title {
        font-size: 32px;
    }
    .club-card-info {
        font-size: 22px;
    }
}